
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  body{
       background-color:orange;
       height:100vh;
       width:100vw;
       display:flex;
       justify-content:center;
       align-items:center;
       overflow:hidden auto;
  }
  
   
  
  img{
      width:16rem;
      height:16rem;
      border-radius:50%;
      display:flex;
      justify-content:center;
      align-items:center;
      animation: run 10s linear infinite;
  }
  
  img:hover {
      opacity:.8
          ;
  }
  .circl{ 
      width:5rem;
      height:5rem;
      position:absolute;
      border-radius:50%;
      background:orange;
      display:flex;
      justify-content:center;
      align-items:center;
  }
  
  @keyframes run {
  100%{transform:rotate(360deg);}
  }
  
  audio{
      height:3rem;
      width:22rem;
      position:absolute;
      bottom:3rem;
  }
  
  
  
  
